---
Checks: >
  -*,
  bugprone-*,
  cert-*,
  cppcoreguidelines-*,
  performance-*,
  readability-redundant-*

WarningsAsErrors: >
  bugprone-*,
  cert-dcl*,
  cert-err*,
  cppcoreguidelines-avoid-goto,
  cppcoreguidelines-no-malloc

HeaderFilterRegex: 'include/.*'
